{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<h1>Créer un nouveau voeu</h1>

		{{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}

		{{ form_row(form.title) }}
		{{ form_row(form.description) }}
		{{ form_row(form.author) }}
		<div class="d-flex">
			<div class="col-sm-9">
				{{ form_row(form.image) }}
			</div>
			<div class="col-sm-3">
				{% if form.vars.value.filename != null %}
					<img src="{{ asset(app_images_wish_directory ~ '/' ~ wish.filename) }}" class="card-img-top img-fluid" alt="image"/>
					{{ form_row(form.deleteImage) }}
				{% endif %}
			</div>
		</div>
		{{ form_row(form.category) }}
		{{ form_row(form.save, {'attr': {'class': 'btn btn-primary mt-3'}}) }}

		{{ form_end(form) }}
	</div>
{% endblock %}
